.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}